@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");

// color
$color-fb: #4267b2;
$color--insta: #e1306c;
$color-wha: #4ac959;
$color-messsenger: #00c6ff;
$color-gplus: #1da1f2;
$color-fff: #fff;
$color-mid-black: #222222;
$color-39: #393939;
$color-62: #626262;
$color-zc: #46a2fd;

// background color
$bg-fb: #4267b2;
$bg--insta: #e1306c;
$bg-wha: #4ac959;
$bg-zc: #46a2fd;
$bg-fff: #fff;
$bg-messenger: linear-gradient(
    rgb(0, 198, 255) 0%,
    rgb(0, 120, 255) 50%,
    rgb(0, 120, 255) 100%
);

$bg-rgba-article: rgba(38, 172, 255, 0.8);
$bg-rgba-azul: rgba(25, 81, 235, 0.76);
$bg-rgba-sass: rgba(204, 102, 153, 0.7);
$bg-gplus: #1da1f2;
$bg-mid-black: #222222;
$bg-f1f1f1: #f1f1f1;

* {
    font-family: "Londrina Solid", cursive;
}

*::selection {
    background: #46a2fd;
    color: white;
    text-shadow: 1px 1px #000;
}

/* Firefox */
*::-moz-selection {
    background: #46a2fd;
    color: white;
    text-shadow: 1px 1px #000;
}

.redes {
    display: flex;
    width: 100%;
    margin: auto;

    a {
        margin: auto;
        padding: 0;
        display: block;
        text-decoration: none;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        transition: ease-in-out 0.3 !important;

        i {
            font-size: 50px;
            display: block;
            padding: 10px;
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 70px;
            border-radius: 100%;
            transition: ease-in-out 0.3 !important;
            text-decoration: none;
        }
        i:hover {
            color: $color-fff;
        }

        .fa-facebook {
            color: $color-fb;
            border: 4px solid $color-fb;
        }
        .fa-instagram {
            color: $color--insta;
            border: 4px solid $color--insta;
        }
        .fa-whatsapp {
            color: $color-wha;
            border: 4px solid $color-wha;
        }

        //hovered

        .fa-facebook:hover {
            background: $bg-fb;
            border: 4px solid $color-fb;
        }
        .fa-instagram:hover {
            background: $bg--insta;
            border: 4px solid $color--insta;
        }
        .fa-whatsapp:hover {
            background: $bg-wha;
            border: 4px solid $color-wha;
        }
    }
}

//redes-2 styles

.redes-2 {
    width: 100%;
    height: 140px;
    max-width: 100%;
    margin-top: 20px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    h1 {
        font-family: "Bebas Neue", cursive;
    }
    ul {
        display: flex;
        margin: auto;
        height: 110px;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            line-height: 110px;
            max-width: 100%;
            width: 20%;
            text-align: center;
            a {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 4px;
                padding-bottom: 4px;
                margin-left: 10px;
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                font-size: 30px;
                transition: ease-in-out 0.3s;
            }
            .fb {
                border: 3px solid $color-fb;
                color: $color-fb;
            }
            .ins {
                border: 3px solid $color--insta;
                color: $color--insta;
            }
            .wha {
                border: 3px solid $color-wha;
                color: $color-wha;
            }

            .fb:hover {
                background: $bg-fb;
                color: $color-fff;
            }
            .ins:hover {
                background: $bg--insta;
                color: $color-fff;
            }
            .wha:hover {
                background: $bg-wha;
                color: $color-fff;
            }
            /* a:hover{
                color: red;
                background: green;
            } */
        }
    }
}

//seccion imagenes de productos
.productos-img {
    width: 100%;
    max-width: 100%;
    margin: auto;
    text-align: center;
    .img-producto {
        width: 800px;
        max-width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
        object-fit: cover;
    }
}

.img-portada {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: auto;
    img {
        width: 800px;
        max-width: 100%;
        text-align: center;
        margin: auto;
    }
}

//efectos parallax
.parallax {
    width: 100%;
    height: 500px;
    /* background-image: url(https://zcpublicidad.com/laravel/public/img/boat.jpg); */
    background-image: url(../img/boat.jpg);
    background-position: 0px -200px;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 15px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .parallax-content {
        z-index: 1;
        color: $color-39;
        position: relative;
        h1 {
            font-size: 50px;
        }
        h1,
        p,
        span {
            z-index: 1;
        }
    }
}

.parallax::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    position: absolute;
    background: $bg-rgba-article;
}

//share section

.share--section {
    padding-left: 10px;
    background: $bg-f1f1f1;
    border-radius: 7px;
    width: 325px;
    max-width: 100%;
    box-sizing: border-box;
    height: 100px;
    overflow: hidden;
    h3 {
        color: $color-mid-black;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            margin-left: 10px;
            padding: 0;
            text-align: center;
            a {
                width: 50px;
                height: 50px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                display: block;
                font-size: 30px;
                line-height: 53px;
                transition: ease-in-out 0.3s !important;
            }
            .fb-2 {
                color: $color-fb;
                border: 1px solid $color-fb;
            }
            .fb-2:hover {
                background: $bg-fb;
                color: $color-fff;
                border: 1px solid $color-fb;
            }
            .messenger {
                color: $color-messsenger;
                border: 1px solid $color-messsenger;
            }

            .messenger:hover {
                color: $color-fff;
                background: $bg-messenger;
            }

            .gplus {
                color: $color-gplus;
                border: 1px solid $color-gplus;
            }
            .gplus:hover {
                color: $color-fff;
                background: $bg-gplus;
            }
            .wha-2 {
                color: $color-wha;
                border: 1px solid $color-wha;
            }
            .wha-2:hover {
                color: $color-fff;
                background: $bg-wha;
            }
            .copy {
                color: $color-mid-black;
                border: 1px solid $color-mid-black;
            }
            .copy:hover {
                color: $color-fff;
                background: $bg-mid-black;
            }
        }
    }
}

//contact styles
.main-contact-image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 60px 15px 0;
    /* background-image: url(https://zcpublicidad.com/laravel/public/images/asiento.jpg?d49d9a74f2cddd9bc34f2071990185ea); */
    background-image: url(../img/asiento.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 50px;
        color: $color-39;
        z-index: 1;
    }
}
.main-contact-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $bg-rgba-azul;
    width: 100%;
    height: 500px;
}

.main--all-container {
    width: 1300px;
    max-width: 100%;
    margin: auto;
    .main-contact {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: 650px;
        margin-bottom: 100px;
        .main-form-content {
            width: 800px;
            padding: 10px;
            box-shadow: 0px 1px 41px -9px rgba(34, 34, 34, 0.65);
            -webkit-box-shadow: 0px 1px 41px -9px rgba(34, 34, 34, 0.65);
            -moz-box-shadow: 0px 1px 41px -9px rgba(34, 34, 34, 0.65);
            textarea {
                width: 100%;
                max-width: 100%;
                max-height: 200px;
            }
        }
        .main-contact-about {
            width: 800px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            img {
                width: 250px;
                height: auto;
                text-align: center;
                margin: auto;
            }
            h3 {
                width: 100%;
                max-width: 100%;
                text-align: justify;
            }
            p {
                width: 100%;
                max-width: 100%;
                text-align: justify;
            }
        }
    }
}

//mobile
@media (max-width: 786px) {
    //contact styles
    .main--all-container {
        .main-contact {
            display: block;
            width: 100%;
            max-width: 100%;
            padding: 10px;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;

            .main-form-content {
                width: 100%;
                padding: 10px;
                box-shadow: 0px 1px 41px -9px rgba(34, 34, 34, 0.65);
                -webkit-box-shadow: 0px 1px 41px -9px rgba(34, 34, 34, 0.65);
                -moz-box-shadow: 0px 1px 41px -9px rgba(34, 34, 34, 0.65);
            }
            .main-contact-about {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                margin-top: 20px;
                h3 {
                    width: 100%;
                    max-width: 100%;
                    text-align: justify;
                }
                p {
                    width: 100%;
                    max-width: 100%;
                    text-align: justify;
                }
            }
        }
    }
}

//scroll top
.main-scroll-top {
    a {
        color: white;
        text-decoration: none;
        width: 50px;
        height: 50px;
        text-align: center;
        margin: auto;
        display: block;
        background: $bg-zc;
        font-size: 25px;
        line-height: 50px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 100%;
        /* Firefox 1-3.6 */
        -moz-border-radius: 100%;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border-radius: 100%;
        opacity: 0.3;
        transition: ease-in-out 0.3s;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    a:hover {
        opacity: 1;
    }
}

a.back-to-top {
    position: fixed;
    z-index: 999;
    right: 0.75rem;
    bottom: 0.75rem;
    display: none;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
}

a:hover.back-to-top {
    background-color: #00a7bd;
}
//about styles
//acerca de  about
.main-about {
    .main-about-content {
        .main-about-img {
            .image-profile {
                width: 300px;
                height: 300px;
                background-position: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                border-radius: 50%;
                /* background-image: url(https://zcpublicidad.com/laravel/public/img/who-im.jpg); */
                background-image: url(../img/who-im.jpg);
            }
            h3 {
                text-align: center;
                width: 100%;
                max-width: 100%;
            }
            p {
                text-align: center;
                width: 100%;
                max-width: 100%;
            }
        }
        .main-skills {
            .skills-content {
                .html-skill {
                    /* background-image: url(https://zcpublicidad.com/laravel/public/img/skills/html5-logo.png); */
                    background-image: url(../img/skills/html5-logo.png);
                }
                .css-skill {
                    /* background-image: url(https://zcpublicidad.com/laravel/public/img/skills/css3-logo.png); */
                    background-image: url(../img/skills/css3-logo.png);
                }
                .js-skill {
                    /* background-image: url(https://zcpublicidad.com/laravel/public/img/skills/js-logo.png); */
                    background-image: url(../img/skills/js-logo.png);

                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .php-skill {
                    /* background-image: url(https://zcpublicidad.com/laravel/public/img/skills/php-logo.png); */
                    background-image: url(../img/skills/php-logo.png);
                }
                .mysql-skill {
                    /* background-image: url(https://zcpublicidad.com/laravel/public/img/skills/mysql-logo.png); */
                    background-image: url(../img/skills/mysql-logo.png);
                }
                .laravel-skill {
                    /* background-image: url(https://zcpublicidad.com/laravel/public/img/skills/laravel-logo.png); */
                    background-image: url(../img/skills/laravel-logo.png);
                }

                .html-skill,
                .css-skill,
                .js-skill,
                .php-skill,
                .mysql-skill,
                .laravel-skill {
                    width: 200px;
                    height: 200px;
                    border: 1px solid #222222;
                    margin-bottom: 20px;
                    margin-left: 20px;
                    border-radius: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .html-skill::before,
                .css-skill::before,
                .js-skill::before,
                .php-skill::before,
                .mysql-skill::before,
                .laravel-skill::before {
                    content: "";
                    width: 80%;
                    height: 10px;
                    border: 4 px solid red;
                    display: block;
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                }
            }
        }
    }
}

//skills
.circular-progress {
    &,
    &::before,
    &::after {
        width: 180px;
        height: 180px;
        margin-bottom: 50px;
        border-radius: 50%;
    }
    margin: auto;
    position: relative;
    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }
    &:before {
        padding: 0.5em;
        box-sizing: border-box;
        font-size: 2rem;
        line-height: 7rem;
    }
    &::after {
        line-height: 13rem;
    }
}

@function progress($percent) {
    $deg: $percent/100 * 180;
    @return #{$deg}deg;
}

@mixin circular-progres($percent, $skill, $color, $bgcolor) {
    $progress: progress($percent);

    transform: rotate($progress);
    background: linear-gradient(0deg, $color 50%, rgba($color, 0.2) 50%);
    &::before,
    &::after {
        color: $color;
        text-transform: uppercase;
    }
    &::before {
        content: "#{$skill}";
        background: $bgcolor content-box;
        transform: rotate(-#{$progress});
    }
    &::after {
        content: "#{$percent}%";
        background: linear-gradient(transparent 50%, $bgcolor 50%);
        transform: scale(1.1) rotate(-#{$progress});
    }
}

.html {
    @include circular-progres(95, html5, #ec6231, white);
}

.css {
    @include circular-progres(80, ccs3, #2965f1, white);
}

.sass {
    @include circular-progres(50, sass, #cc6699, white);
}
.js {
    @include circular-progres(45, js, #f0db4f, white);
}

.php {
    @include circular-progres(65, php, #8993be, white);
}

.mysql {
    @include circular-progres(35, mysql, #00758f, white);
}

.laravel {
    @include circular-progres(15, laravel, #fb503b, white);
}

.skills-container {
    h1 {
        text-align: center;
    }
}

//parallax style of about

.main-about-image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 60px 15px 0;
    /* background-image: url("https://zcpublicidad.com/laravel/public/img/bicicleta.jpg?d49d9a74f2cddd9bc34f2071990185ea"); */
    background-image: url(../img/bicicleta.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    .main-about-content {
        position: relative;
        z-index: 1;
    }
}

.main-about-image::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    position: absolute;
    background: $bg-rgba-sass;
}

//enterprise
.enterprise-main {
    .enterprise-main-logo {
        width: 100%;
        max-width: 100%;
        margin: auto;
        text-align: center;
        .enterprise-logo {
            width: 800px;
            max-width: 100%;
            text-align: center;
        }
    }
}

//index styles

//index styles

.main-index-box {
    /* background-image: url(https://zcpublicidad.com/laravel/public/img/header-background.jpg); */
    background-image: url(../img/header-background.jpg);
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    margin-top: 57px;
    width: 100%;
    height: 1000px;
    max-width: 100%;
    display: flex;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;

    .main-index-desc {
        width: 500px;
        height: 1000px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        h2 {
            color: $color-39;
            font-size: 40px;
            span {
                color: $color-zc;
            }
        }
        p {
            text-align: justify;
            color: $color-62;
        }
        .main-index-link {
            display: block;
            text-decoration: none;
            color: $color-39;
            width: 150px;
            height: 50px;
            padding: 10px;
            box-sizing: border-box;
            margin: 0px;
            text-align: center;
            background: $bg-fff;
            border: 2px solid $color-zc;
            border-radius: 50px;
            font-weight: 500;
            transition: ease-in-out 0.3s;
            text-transform: capitalize;
        }
        .main-index-link:hover {
            background: $bg-zc;
            color: $color-fff;
        }
    }
    .main-index-img {
        width: 500px;
        height: 1000px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        box-sizing: border-box;
    }
}

//mobile responsive
@media (max-width: 768px) {
    /* .main-index-box {
        width: 100%;
        height: 1000px;
        max-width: 100%;
        display: block;

        .main-index-desc {
            width: 500px;
            height: 500px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            box-sizing: border-box;
            padding: 20px;
            h2 {
                color: $color-39;
                font-size: 40px;
                span {
                    color: $color-zc;
                }
            }
            p {
                text-align: justify;
                color: $color-62;
            }
            .main-index-link {
                display: block;
                text-decoration: none;
                color: $color-39;
                width: 150px;
                height: 50px;
                padding: 10px;
                box-sizing: border-box;
                margin: 0px;
                text-align: center;
                background: $bg-fff;
                border: 2px solid $color-zc;
                border-radius: 50px;
                font-weight: 500;
                transition: ease-in-out 0.3s;
                text-transform: capitalize;
            }
            .main-index-link:hover {
                background: $bg-zc;
                color: $color-fff;
            }
        }
        .main-index-img {
            width: 500px;
            height: 500px;
            max-width: 100%;
            margin: auto;
        }
    } */

    .header-main {
        width: 100%;
        height: 1000px;
        max-width: 100%;
        display: block;
        .header-content {
            padding-top: 8rem;
            padding-bottom: 4rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            height: 1000px;
            .main-index-desc {
                width: 500px;
                height: 500px;
                max-width: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                box-sizing: border-box;
                padding: 20px;
                h2 {
                    color: $color-39;
                    font-size: 40px;
                    span {
                        color: $color-zc;
                    }
                }
                p {
                    text-align: justify;
                    color: $color-62;
                }
                .main-index-link {
                    display: block;
                    text-decoration: none;
                    color: $color-39;
                    width: 150px;
                    height: 50px;
                    padding: 10px;
                    box-sizing: border-box;
                    margin: 0px;
                    text-align: center;
                    background: $bg-fff;
                    border: 2px solid $color-zc;
                    border-radius: 50px;
                    font-weight: 500;
                    transition: ease-in-out 0.3s;
                    text-transform: capitalize;
                }
                .main-index-link:hover {
                    background: $bg-zc;
                    color: $color-fff;
                }
            }
            .main-index-img {
                width: 500px;
                height: 500px;
                max-width: 100%;
                margin: auto;
            }
        }
    }
}

/*********************/
/*    04. Header     */
/*********************/
.header-main {
    background-color: #fff;
    /* background: url("https://zcpublicidad.com/laravel/public/img/header-background.jpg")
        center center no-repeat; */
    background: url("../img/header-background.jpg") center center no-repeat;
    background-size: cover;
    .header-content {
        padding-top: 8rem;
        padding-bottom: 4rem;
        text-align: center;
        display: flex;
        justify-content: center;
        .main-index-desc {
            width: 500px;
            height: 800px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            box-sizing: border-box;
            padding: 20px;
            h2 {
                color: $color-39;
                font-size: 40px;
                span {
                    color: $color-zc;
                }
            }
            p {
                text-align: justify;
                color: $color-62;
            }
            .main-index-link {
                display: block;
                text-decoration: none;
                color: $color-39;
                width: 150px;
                height: 50px;
                padding: 10px;
                box-sizing: border-box;
                margin: 0px;
                text-align: center;
                background: $bg-fff;
                border: 2px solid $color-zc;
                border-radius: 50px;
                font-weight: 500;
                transition: ease-in-out 0.3s;
                text-transform: capitalize;
            }
            .main-index-link:hover {
                background: $bg-zc;
                color: $color-fff;
            }
        }
        .main-index-img {
            width: 500px;
            height: 800px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            box-sizing: border-box;
        }
    }
}

//services style
.service-of-enterprise {
    width: 100%;
    max-width: 100%;
    height: 760px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    h1 {
        width: 800px;
        height: 50px;
        display: block;
        max-width: 100%;
        margin: 0px auto;

        text-align: center;
    }
    p {
        width: 500px;
        height: 90px;
        max-width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    .br-enterprise-services {
        height: 600px;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        .service-1,
        .service-2,
        .service-3 {
            margin-left: 30px;
            margin-top: auto;
            width: 300px;
            height: 400px;
            border: 1px solid $color-39;
            margin-bottom: 80px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            .service-img-1,
            .service-img-2,
            .service-img-3 {
                width: 200px;
                max-width: 100%;
                margin: 0px auto;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1200px) {
    //services style
    .service-of-enterprise {
        width: 100%;
        height: 1560px;
        max-width: 100%;
        box-sizing: border-box;
        display: block;
        h1 {
            width: 100%;
            height: 50px;
            display: block;
            max-width: 100%;
            margin: 0px auto;
            text-align: center;
        }
        p {
            width: 500px;
            height: 90px;
            max-width: 100%;
            margin: 10px auto;
            text-align: center;
        }
        .br-enterprise-services {
            display: block;
            margin: auto;
            text-align: center;
            height: 1400px;
            width: 100%;
            max-width: 100%;
            .service-1,
            .service-2,
            .service-3 {
                margin: 50px auto;
                .service-img-1,
                .service-img-2,
                .service-img-3 {
                    max-width: 100%;
                }
            }
        }
    }
}

//img card styles

img.enterprise-logo {
    width: 200px;
    max-width: 100%;
}
